* {
  box-sizing: border-box;
  margin: var(--mrg0);
  padding: var(--pdg0);
  -webkit-tap-highlight-color: transparent;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Hide Scrollbars*/
html,
body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  min-height: var(--minH);
  background-color: white;
  padding: var(--pdg1) var(--pdg2);
}

.btn-reset {
  margin-bottom: var(--mrg2);
}

.btn {
  background-color: var(--prim);
  border: none;
  border-radius: var(--rad1);
  color: white;
  padding: var(--pdg3);
  font-size: 16px;
  cursor: pointer;
  /*box-shadow:;
  1px 1px 3px rgba(0, 0, 0, 0.3),
    inset 2px 2px 3px rgba(255, 255, 255, 0.3);*/
}

.btn:active {
  /*box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.3),
    inset -2px -2px 3px rgba(255, 255, 255, 0.3);*/
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.category {
  margin-bottom: var(--gap1);
}

.btn-header {
  height: var(--btnH);
  width: 100%;
  display: grid;
  grid-template-columns: 10% 80%;
  align-items: center;
}

.imgCat {
  width: auto;
}

.imgCatHead {
  height: 30px
  /*filter: drop-shadow(-1px -1px 1px white)*/
}

.category.open .btn {
  /*box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.5),
    inset -2px -2px 3px rgba(255, 255, 255, 0.3);*/
  border-radius: var(--rad1) var(--rad1) 0 0;
}

.items-panel {
  display: none;
  max-height: 390px;
  overflow-y: scroll;
  overflow-x: auto;
  background-color: var(--primT);
  border-bottom-left-radius: var(--rad1);
  border-bottom-right-radius: var(--rad1);

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.items-panel::-webkit-scrollbar {
  display: none;
}

.category.open .items-panel {
  display: block;
}

.item-row {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-inline: var(--mrg2);
}

.item-row:last-child {
  border-bottom: none;
}

.star-button {
  border: none;
  background-color: transparent;
  color: var(--prim);
  font-size: 21px;
  cursor: pointer;
}

.star-button-catg {
  font-size: large;
  color: rgba(255, 255, 255, 0.5);
}

.item-name {
  font-size: 14px;
}

.check-button {
  width: 22px;
  height: 22px;
  background-color: var(--prim);
  border: 1px solid var(--prim);
  border-radius: 50%;
  color: white;
  font-family: "SF Compact";
  font-size: large;
  font-weight: 700;
  cursor: pointer;
}

.check-button.selected {
  border-color: var(--prim);
  background-color: var(--prim);
  color: white;
}

.favorite-row {
  grid-template-columns: 64px 1fr 64px;
}
