:root {
  /* BODY */
  --scrW: 100vw;
  --pad1: 5vw;
  --imgG: calc(var(--imgW) / 4);

  /* BTN-CTG */

  --btnP: calc(var(--imgW) * 0.1);

  --rad1: 8px;

  --minH: 100vh; /* body min height*/
  --maxW: 430px; /* app */

  --prim: #0991f3;
  --secd: #969dab;
  --tert: #f8a648;

  --primT: #0991f333;
  --secdT: #969dab33;
  --tertT: #f8a64833;
}
